

/* Add only variables */

$main_green: #81b300;

/* Header */
$title_black: #333333;
$subtitles_grey: #999999;

/* Navbar */
$nav_color: #ffffff;
$nav_hover: #000000;
$nav_text: #ffffff;
$hover_text_color: #000000;
$search_bar_border: #dddddd;

/* slideshow */
$slideshow_bg: #333333;

/* Table  */
$title_green: #89b810;
$dark_border: #e2e2e2;

/* Project title */
$black_title: #444444;

/* contact */
$dark_title: #666666;
$contact_bg_color: #3b3b3b;
$contact_description_text: #999999;
$contact_hr: #484848;
$inputs_bg: #1f1f1f;

/*  Font-Size */
$base_font_size: 1em;


/*  Line-Height */
$base_line_height: 1.5;
$header_line_height: 1.25;
