

/* Add only variables */

$main_green: #81b300;

/* Header */
$title_black: #333333;
$subtitles_grey: #999999;

/* Navbar */
$nav_color: #ffffff;
$nav_hover: #000000;
$nav_text: #ffffff;
$hover_text_color: #000000;
$search_bar_border: #dddddd;

/* slideshow */
$slideshow_bg: #333333;

/* Table  */
$title_green: #89b810;
$dark_border: #e2e2e2;

/* Projec title */
$black_title: #444444;
/*  Font-Size */
$base_font_size: 1em;


/*  Line-Height */
$base_line_height: 1.5;
$header_line_height: 1.25;
