.button{

  background-color: #1f1f1f;

  text-decoration: none;
  padding: 4px 10px;
  display: inline-block;
    &--border-radius{
      border-radius: 5px;
    }
    &--color-green{
      color: $main_green;
    }
    &__inline{
      display: inline-block;
      margin-left: -75px;
      padding: 6px 6px;
      color: $main_green;
      background-color: #ffffff;
      border-left: 1px solid #dddddd;
      font-size: 0.75rem;
    }
}
