

.contact-info{
    background-color: $contact_bg_color;
    &__title{
      text-transform: uppercase;
      color: $dark_title;
      font-size: 0.8125rem;

    }
    &__description{
      font-size: 12px;
      color: $contact_description_text;
      margin-top: 0;
      margin-bottom: 5px;
    }
    &__hr{
      border: solid 1px $contact_hr;
      width:90%;
      margin:0 ;
    }
    &__blog-title{
      font-size: 0.8125rem;
      color: $contact_description_text;
    }
    &__input{
      margin-bottom: 0.625rem;
    }
    &__inputs{
      padding-bottom: 0.625rem;
    }
    &__details{
      font-size: 13px;
    color: #81b300;
    text-align: right;
        margin-right: 0.6875rem;
    }

    a{
      text-decoration: none;
      color: #81b300;
    }

    input, textarea {
    background-color : $inputs_bg;
    border: none;
    border-radius: 0.625rem;
    padding: 6px;
  }
  &--padding-bottom{
    padding-bottom: 2.1875rem;
  }

}
