


.login-navbar{
  /* Basic styling */
    a{
      text-decoration: none;
      color: $main_green;
    }
    ul{
      list-style-type: none;
       margin: 0;
       padding: 0;
    }
    li{
      display: inline;
      border-right: 1px solid $main_green;
      padding-right: 5px;
      padding-left: 5px


    }
    li:last-child{
      border-right: 0;
      padding-right: 0;
      padding-left: 0;
    }
    /* Adjusting padding  */
    &--padding-top{
      padding-top: 2.3125rem;
    }

}
