.navigation-menu{



  /* Background */
  &--background{
    background-color: $main_green;
  }

  &__block{
    display: inline-block;

    /* Basic styling */
      a{
        text-decoration: none;
        color: $nav_color;

        padding-right: 1.25rem;
        text-transform: uppercase;
      }

      a:hover{
        color: $nav_hover;
      }
      ul{
        list-style-type: none;
         margin: 0;
         padding: 0;
      }
      li{
        display: inline;
      }
  }
  &__search-bar{
    display: inline-block;
  }
}
