.page-wrap {
  
  text-align: left;
  width: 62.5rem;
  margin: 0 auto;
   border-bottom: solid #000000 30px;
   border-top: solid #000000 30px;
   border-right:  solid #000000 20px;
   border-left: solid #000000 20px;
}
