.row{
@mixin clearfix;

  &__large-4{
    float: left;
    width: 25%;


  }
  &__gutter{
    padding-right: 14px;
      padding-left: 9px;
  }
  &__gutter-project-title{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 2.75rem;

  }


}
